.link {
    margin-right: 1.1rem;
    text-decoration: none;
    color: #6d6d6d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
    transition: all 0.1s ease;
}   

.link:hover {
    border-bottom: 4px solid #10b87b;
    border-radius: 3px;
}