.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

.sort {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    padding: 1em;
}