.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.link {
    margin-right: 15px;
    text-decoration: none;
    color: #6d6d6d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
    transition: all 0.1s ease;
}   

.icon {
    box-sizing: border-box;
    width: 1.7em;
    height: 1.7em;
}