.selectcountries{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 230px;
    overflow:auto;
    gap: 2px;
    flex-wrap: wrap;
    margin: 10px 0px;
    padding: 1rem;
    margin: 1rem
}

.selectcountries::-webkit-scrollbar {
    display: none;
}